:root{

	--laranja: #98660d;
	--laranjaClaro: #fff5e3;
	--corFundo: #000;
	--texto: #98660d;
}

*{
	padding: 0;
	margin: 0;
	font-family: montserrat,Arial,Helvetica,nimbus sans l,sans-serif;
}



body,
html{
	padding: 0;
	margin: 0;
	background: var(--corFundo);
	line-height: 16px;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
	color: var(--laranja);
}

.headerTop{
	height: 32px;
	background: var(--laranja);
	display: flex;
	align-items: center;
	color: var(--corFundo);
	font-size: 12px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.headerTop a{
	text-decoration: none;
	color: var(--corFundo);
}

#headerTopMorada{
	display: flex;
}

.header-morada,
.header-gps,
.header-tel,
.header-email{
	display: flex;
	align-items: center;
}

.header-gps,
.header-tel{
	padding: 0 30px;
}

.header-facebook{
	padding-right: 20px;
	align-items: center;
	font-size: 24px;
}

.innerHeaderTop p,
.innerHeaderTop .header-tel a,
.innerHeaderTop .header-email a{
	padding-left: 5px;
}

nav{
	background: var(--corFundo);
	height: 108px;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	border-bottom: 3px solid var(--laranja);
	display: flex;
	position: fixed;
	top: 32px;
	width: 100%;
	z-index: 999;
}

.innerNav,
.innerHeaderTop{
	width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.innerNav{
	justify-content: space-between;
}

nav ul{
	display: flex;
	list-style-type: none;
	align-items: center;

}

nav ul li a{
	text-decoration: none;
	padding: 45px 15px;
	color: var(--texto);
	height: 108px;
	
}

nav .horario{
	display: flex;
	align-items: center;
	font-size: 70px;
}

nav .horas{
	flex-direction: row;
	font-size: 25px;
	line-height: 40px;
}
nav .horario p{
	padding-left: 15px;
}

.activeNavLink{
	color: var(--laranja);
}




#mainHeader{
	padding: 30px;
	background: var(--laranjaClaro);
	border-top: 1px solid LightGray;
	border-bottom: 1px solid LightGray;
}

.innerMainHeader{
	width: 1100px;
	margin: 0 auto;
}

nav ul li a:hover,
.active{
	color: var(--corFundo);
	background: var(--laranja);
}

nav ul li a:active{
color: var(--corFundo);
	background: var(--laranja);	
}


.content{
	width: 1100px;
	margin: 0 auto;
	text-align: justify;
	padding-top: 30px;
	line-height: 30px;
}

#QuemSomos{
	display: flex;
}

#QuemSomos h2{
	padding-top: 140px;
	font-size: 35px;
	font-weight: 300;
	text-align: center;
}

.content a{
	text-decoration: none;
	color: var(--texto);
}

#QuemSomos .logo{
	flex-direction: column;
	text-align: center;
	width: 100%;
	flex: 1;
	padding-right: 50px
}

#QuemSomos .logo img{
	width: 85%;
	animation: rodar 4s ease-in infinite alternate;
}


#QuemSomos .quemSomosDesc{
	padding-top: 180px;
	flex: 1;
	text-align: justify;
}

#QuemSomos .quemSomosDesc p{
	padding-bottom: 20px;
}

#QuemSomos .comodidades{
	padding-top: 35px;
	display: flex;
	font-size: 55px;
	justify-content: space-around;
}



#Precos{
	padding-top: 150px;
	line-height: 30px;
	display: flex;
	text-align: justify;
}

 #Precos .lavar{
	flex: 1;
}

#Precos .secar{
	flex: 1;
}


#Precos .lavar_sym{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
}

.lavar_texto{
	padding-left: 60px;
}

.lavar_texto p{
	padding-left: 60px;
}

.lavar_texto h4,
.secar_texto h4{
	padding-top: 30px;
}

#Precos .lavar_sym img{
	max-width: 80px;
}

#Precos .secar_sym img{
	max-width: 50px;
}


#Precos .secar_sym{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
}

#Precos .sup{
	font-size: 16px;
}

.lavar_sym h3,
.secar_sym h3{
	padding-left: 20px;
	font-size: 70px;
	font-weight: 400;
}


.secar_texto{
	padding-left: 90px;
}

.secar_texto h4{
	padding-left: 30px;
}

.secar_preco{
	padding-left: 60px;
	padding-bottom: 30px;
}

.secar_extra{
	padding-top: 20px;
	font-style: italic;
	text-align: right;
}


#Precos h4{
	padding-bottom: 20px;
}


#Servicos{
	padding-top: 150px;
	padding-bottom: 40px;
	line-height: 40px;
}

#Servicos ul{
	padding-top: 40px;
	list-style: none;
	line-height: 
}

#Servicos ul li:before{
	content: '✓';
	padding-right: 20px;
}



#Empresas{
	padding-top: 150px;
	display: flex;
	flex-direction: row;
}

#Empresas .Empresas_desc{
}

#Empresas .Empresas_desc p{
	padding-top: 10px;
}

#Empresas .Empresas_desc h2{
	padding-top: 60px;
	text-align: center;
	font-size: 35px;
	font-weight: 600;
}

#Empresas .Empresas_img{
	padding-top: 50px;
	display: flex;
	align-items: center;
}

#Empresas .Empresas_img .carro{
	padding-right: 20px;
	flex: 1.5;
text-align: center;
}

#Empresas .Empresas_img .reticencias{

	padding-right: 20px;
	flex: 0.5;
}

#Empresas .Empresas_img .maqLavar{

	padding-right: 10px;
	flex: 0.9;
}

#Empresas .Empresas_img .mais{

	padding-right: 10px;
	flex: 0.3;
}

#Empresas .Empresas_img .roupa{

	padding-right: 10px;
	flex: 1;
}

#Empresas .Empresas_img .roupaDobrada{

	padding-right: 20px;
	flex: 1;
}

#Empresas .Empresas_img .fabrica{

	padding-right: 20px;
	flex: 1;
}

#Empresas .Empresas_legenda{
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
	font-size: 20px;
}

#Contactos{
	display: flex;
	justify-content: space-between;
	padding-bottom: 110px;
	font-size: 20px;
}

#Contactos iframe{
	border: 8px solid var(--laranja);
	border-radius: 8px;
	min-width: 500px;
	min-height: 400px;
}

#Contactos .rua,
#Contactos .coordenadas,
#Contactos .horario,
#Contactos .telefone,
#Contactos .email{
	display: flex;
	align-items: center;
	padding-bottom: 25px;
}

#Contactos .rua{
	align-items:flex-start;
}


#Contactos span{
	padding: 0 10px;
	font-weight: 600;
}


@media all and (max-width: 980px) {
	.innerNav,
	.innerHeaderTop{
		width: 940px;
	}

	.content{
		width: 940px;
	}

	.header-gps,
	.header-tel{
		padding: 0 10px;
	}
}
@media all and (max-width: 736px) { ... }
@media all and (max-width: 480px) { ... }


@keyframes rodar { 
    from { 
        transform: rotate(0deg); 
    } to { 
            transform: rotate(360deg); 
    }
}


